section#contact.contact
  h2 Let's talk.
  form
    input(type='text', placeholder='Your name')
    input(type='text', placeholder='Your email')
    textarea(type='text', placeholder='Your message')
    button(type='submit') Send
