footer.site-footer
  
  .social-media-icons
    p You can also find me on
    a(href="") <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
    a(href="") <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
    a(href="") <i class="fa fa-dribbble" aria-hidden="true"></i> Dribbble
    a(href="") <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
  p.copy
    span &copy; Fabio Wallner 2016
    span
      a(href="mailto:hi@fabiowallner.com") hi@fabiowallner.com
    span 
      a(href="") Imprint
