section#my-work.my-work
  h2 My Work.
  
  .container
    .project.project-1
      .description
        h3 fabiowallner.com
        p In 2016 it was time to create a proper website for myself to attract new clients and show off my work and provide a way to find and contact me. I used jekyll as a base and made it work with jade and sass to make the process of creating content easier. The draft was done in photoshop. It's completely responsive and works on all device sizes, from phones to tablets and pcs.
        .tags
          span #design
          span #photoshop
          span #jekyll
          span #jade
          span #html5
          span #sass
      .thumbnail
        img(src="/assets/img/fabiowallner.com.png")
        
    .project.project-2
      .description
        h3 Rodel mit Bremse
        p Rodel mit Bremse is a small company in Austria. They create traditional wooden sledges with brakes to make riding safer and more fun. The website is also done using jekyll because they did not need a complicated cms system. I created the logo, the website design and also finished the website using jade, sass and some JQuery. You can visit the website at rodelmitbremse.at
        .tags
          span #design
          span #photoshop
          span #jekyll
          span #jade
          span #html5
          span #sass
      .thumbnail
        img(src="/assets/img/rodelmitbremse.at.png")
        
    .teaser
      span and a lot more...
