section#my-work.my-work
  h2 My Work.
  
  .container
    .project.project-1
      .description
        h3 Project 1
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .tags
          span #design
          span #photoshop
          span #jekyll
          span #jade
          span #html5
          span #sass
      .thumbnail
        img(src="http://fillmurray.com/500/700")
        
    .project.project-2
      .description
        h3 Project 2
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .tags
          span #design
          span #photoshop
          span #jekyll
          span #jade
          span #html5
          span #sass
      .thumbnail
        img(src="http://fillmurray.com/500/700")
        
    .teaser
      span and a lot more...
