section.my-blog
  position: relative
  background: black
  z-index: 2
  &:before
    content: ""
    transform: skewY(4deg)
    position: absolute
    background: black
    padding-bottom: 160px
    margin-top: -92px
    right: 0px
    left: 0px
    top: 0px
    height: 0px
    width: 100%
    z-index: -1
  &:after
    content: ""
    transform: skewY(-4deg)
    position: absolute
    background: black
    padding-bottom: 160px
    margin-bottom: -92px
    right: 0px
    left: 0px
    bottom: 0px
    height: 0px
    width: 100%
    z-index: -1
  h2
    text-align: center
    color: white
    font:
      size: 30px
      weight: 100
    z-index: 5000

  .container
    padding: 10px 0
    min-height: 500px
    display: flex
