section.my-work
  position: relative
  z-index: 1
  width: 100%
  min-height: 100vh
  padding-bottom: 150px
  background:
    image: url(/assets/img/bg2.jpg)
    position: top center
    repeat: no-repeat
    attachment: fixed
    size: cover
  h2
    padding: 100px 0
    text-align: center
    color: white
    font:
      size: 40px
      weight: 100
  .container
    max-width: 960px
    .project
      display: flex
      padding: 50px 0
      justify-content: space-around
      &:first-child
        padding-top: 0
      .description
        color: white
        position: relative
        max-width: 400px
        text-align: center
        h3
          display: inline-block
          font:
            size: 30px
            weight: 100
          border-bottom: 1px solid white
        p
          margin-bottom: 10px
        .tags
          display: flex
          justify-content: center
          text-align: center
          font:
            size: 11px
            weight: 300
          span
            display: block
            margin: 0 5px
            padding: 5px
            cursor: pointer
            background: #000000
            +sweep-to-right
      .thumbnail
        text-align: center
        overflow: hidden
        position: relative
        cursor: crosshair
        width: 500px
        img
          position: absolute
          top: 0
          left: 0
          width: 100%
          transition: all 3s ease-in-out
    .teaser
      text-align: center
      span
        font-size: 20px
        color: white
        background: black
        padding: 10px

@media (max-width: 960px)
  section.my-work
    .container
      .project
        flex-direction: column
        justify-content: center
        align-items: center
        .thumbnail
          width: 400px
          margin-top: 20px
          height: 200px

@media (max-width: 400px)
  section.my-work
    .container
      .project
        .description
          .tags
            flex-wrap: wrap
            span
              margin-bottom: 5px
        .thumbnail
          width: 100%

@media only screen and (min-device-width : 375px) and (max-device-width : 667px)
  section.my-work
    background-attachment: scroll
